<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<!-- Propagates changes made to the level of any logback-classic logger 
		onto the java.util.logging framework without the performance hiccups as of 
		version 0.9.25 -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- Standard out console appender -->
	<appender name="Stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date{ISO8601}]\(%t\)\([%X{requestMarker}]\) %p %logger{0} - %m%n</pattern>
		</encoder>
	</appender>

	<!-- Main file appender -->
	<appender name="StdoutFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logdir}/stdout.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logdir}/stdout.log.%i
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>[%date{ISO8601}]\(%t\)\([%X{requestMarker}]\) %p %logger{0} - %m%n</pattern>
		</encoder>
	</appender>

	<!-- Homeaway Loggers -->
	<logger name="com.homeaway.devtools.jenkins.testing" level="${test.loglevel}" />

	<root level="${root.loglevel}">
		<appender-ref ref="${root.appender}" />
	</root>
</configuration>
